* {
    font-family: 'Work Sans';
}

/* header part*/
header {
    text-align: right;
    padding: 215px 230px 360px 840px;
    background-image: url(./images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-title {
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 0;
}

.header-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 25px;
    margin-bottom: 30px;
}

.header-button {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    border: none;
    background: #F15B22;
    border-radius: 5px;
}

/* section part */
.section-2 {
    display: flex;
    gap: 85px;
    padding: 130px 320px 130px 200px;
}

.failure {
    padding-top: 160px;
}

.section-title {
    font-weight: 700;
    font-size: 40px;
}

.section-description {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.tick-box img {
    width: 24px;
    height: 24px;
}

.tick-box {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding-bottom: 8px;
}

ul {
    display: flex;
    gap: 85px;
    list-style: none;
}

.plan-container{
    display: flex;
    gap: 85px;
}
.plan{
    padding: 0 230px;
    text-align: center;
}

.plan-title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.plan-description {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
}